
/*#region Regole generali */

/* Regola Generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    /* Overflow Nascosto */
    overflow-y: hidden;
    overflow-x: hidden;
}
/*#endregion */

/*#region Posizionamenti */
.flex_cent {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Position relative */
.rel {
    position: relative;
}
/* Position Absolute for cards */
.abs {
    position: absolute;
    top: 0%;
    left: 0%;
}
/*#endregion */

/*#region Containers */

/* Site Header */
#site_header {
    background-color: rgb(21, 22, 21);
    height: 60px;
    width: 100%;
    box-shadow: 0 0 10px black;
    /* Color */
    color: white;
}

/* Site Main */
#site_main {
    background-color: rgb(77, 80, 77);
    height: calc(100% - 60px);
    width: 100%;
    /* Color */
    color: white;
}








/*#endregion */

/* Regole Cards generali */
.h_45 {
    height: 45%;
}

.col-3:hover .desc {
background-color: #140c0c;
    filter: opacity(95%);
    color: white;
    display: block;
}
.desc {
    color: transparent;
    display: none;
    z-index: 10;
}


